services:
  # Build the ESP-IDF firmware inside the Espressif toolchain container.
  # Usage: docker compose run --build build
  build:
    build:
      context: ./
      dockerfile: Dockerfile
      target: builder
    volumes:
      - ./:/app
    command: >-
      bash -c "idf.py --preview build
      && cd build
      && esptool.py --chip esp32c5 merge_bin
      --flash_mode dio --flash_size 4MB
      -o firmware.bin @flash_args"
