menu "Moto Configuration"

    config MOTO_WIFI_SSID
        string "WiFi SSID"
        default "changeme"
        help
            SSID of the WiFi access point to connect to.

    config MOTO_WIFI_PASS
        string "WiFi Password"
        default "changeme"
        help
            Password for the WiFi access point.

endmenu
