name: Release

on:
  push:

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04-arm
    outputs:
      release_created: ${{ steps.check.outputs.release_created }}
      tag_name: ${{ steps.check.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            npx --yes --package release-it --package @release-it/conventional-changelog release-it --ci
          else
            LABEL=$(echo "${{ github.ref_name }}" | tr '/' '-')
            npx --yes --package release-it --package @release-it/conventional-changelog release-it --ci --preRelease=$LABEL
          fi

  # publish:
  #   name: Build & publish firmware
  #   needs: release
  #   if: needs.release.outputs.release_created == 'true'
  #   runs-on: ubuntu-24.04-arm
  #   container: rust:1-bookworm
  #   permissions:
  #     contents: write
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         ref: ${{ needs.release.outputs.tag_name }}

  #     - name: Add Cortex-M7 target
  #       run: rustup target add thumbv7em-none-eabihf

  #     - name: Build firmware
  #       run: cargo build --release

  #     - name: Upload firmware to release
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         tag_name: ${{ needs.release.outputs.tag_name }}
  #         files: target/thumbv7em-none-eabihf/release/moto
